body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: Ubuntu, sans-serif;
}

.pb-21 {
  background-color: white;
  padding-bottom: 21px;
  border-bottom: 1px solid #cbcbcb;
}

.icon-bar {
  background-color: black;
  padding: 0px;
  border: none;
}

.navbar-toggle .icon-bar {
  height: 1px;
  width: 16px;
}

.btn-success {
  width: 140px;
  height: 37px;
  margin-top: 14px;
  border-radius: 18px;
  background-color: #09b288;
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
}

.img-banner {
  width: 100%;
  z-index: -1;
  margin-top: 73px;
  position: relative;
}

.cs-logo {
  width: 320px;
  margin-top: 14px;
  margin-left: 10px;
}

.ml-160 {
  text-align: left;
  width: 50%;
  margin-left: 160px;
}

.mt-30 {
  letter-spacing: 1px;
  color: #492e87;
  margin-top: 30px;
}

.text-black {
  font-weight: 300;
  color: #484848;
}

.pl-2 {
  padding-top: 10px;
}

.pl-2 .pl-5 {
  margin-top: 0px;

}

h1 {
  font-weight: normal;
  font-size: 37px;
}

.mt-20 {
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 1px;
  font-weight: normal;
  margin-bottom: -30px;
}


.text {
  width: 325px;
  height: 35px;
  padding: 6px 6px;
  margin: 12px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: left;
  color: #8c8c8c;
  font-weight: 200;
  font-family: Ubuntu, sans-serif;
  font-size: 13px;

}

.tel {
  width: 325px;
  height: 35px;
  padding: 6px 6px;
  margin: 12px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: left;
  color: #8c8c8c;
  font-weight: 200;
  font-family: Ubuntu, sans-serif;
  font-size: 13px;

}



.state {
  width: 325px;
  height: 35px;
  padding: 6px 10px;
  margin: 12px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 6px;
  color: #484848;
  font-weight: 400;
}

.card {
  width: 370px;
  margin-bottom: 0px;
  height: 700px;
  border: none;
  margin-left: 100px;
  float: right;
  margin-top: -280px;
  background-color: white;
  margin-right: 155px;
}

.space {
  height: 10px;
  width: 100%;
  background-color: #09b288;
}

h2 {
  color: #09b288;
  text-align: center;
  font-size: 28px;
  font-weight: normal;
  padding-bottom: 10px;
}


.btn-info {
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 25px;
  text-align: center;
}

.container {
  padding: 16px;
}

.text-left {
  color: #484848;
}

.pl-2 .text-right {
  float: right;
  margin-right: 15px;
}

hr {
  border: 0.1px solid #cbcbcb;
  width: 100%;
}

.new {
  width: 95%;
}

.icon {
  padding: 20px 20px;
  margin-left: 110px;
  z-index: -1;
}

.cl-sm-4 {
  float: left;
}

.row {
  padding: 60px 50px;
}

.img-down {
  height: 50px;
  width: 100px;
  padding: 0px 0px;
}

.img-footer {
  width: 180px;
  padding-left: 15px;
}

.pd-10 {
  padding: 10px 16px;
  color: #484848;
}

.tag {
  padding-top: 50px;
  padding-bottom: 30px;
}

.social {
  padding: 15px 20px;
}

.rights {
  float: right;
  padding-right: 28px;
  padding-top: 8px;
}

.pic {
  background-color: #fafafa;
  padding-left: 110px;
  z-index: 1;
  margin-top: -20px;
}

.img-down {
  height: 120px;
  width: 180px;
  padding: 20px 20px;
}

.font {
  font-size: 16px;
  text-align: left;
  padding-top: 15px;
  color: #484848;
  font-weight: 300;
}

.icon img {
  float: left;
  padding: 0px 0px;
}

.pl-8 {
  padding: 0px 0px;
  margin: 0px 0px;
}

.text-gray {
  background-color: #09b288;
  font-weight: bold;
  font-size: 16px;
}

.social-media {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 30px;
}

.social-media .fab {
  color: #53468f;
  padding: 10px 10px;
  font-size: 15px;
}

.p-centre {
  text-align: center;
  font-size: 12px;
}

.btn-secondary {
  background-color: #b2b2b2;
  margin: 8px 0;
  color: #fff;
}

.social {
  font-size: 18px;
  color: #4b4287;
  padding: 10px 10px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.btn-outline-secondary {
  width: 50px;
  margin-top: 20px;
  display: inline-block;
  border: 1px solid #ccc;
}

.btn-sec {
  background-color: #fff;
}

.bg-color {
  background-color: #fff;
}

form {
  font-size: 12px;
  font-weight: 400;
  color: #999999;
  height: 790px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.p-centre {
  color: #4a4a4a;
}

.a-tag {
  float: right;
  margin-right: 15px;
  margin-top: 8px;
}


.intl-tel-input {
  display: table-cell;
  border: 2px solid black;
}

.intl-tel-input .selected-flag {
  z-index: 4;
}

.intl-tel-input .country-list {
  z-index: 5;

}



.pt {
  margin-top: 12px;
  margin-bottom: 10px;

}

.iti__selected-flag {
  border-right: 1px solid #ccc;
  width: 50px;
}